@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

:root {
    /* Primary Colors */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    /* Neutral Colors */
    --dark-blue: hsl(234, 12%, 34%);
    --gray-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
}

body {
    font-family: Poppins;
    font-size: 0.9375rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.875rem;
}

.heading {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
}

.heading h1 {
    font-weight: 200;
    font-size: 2.25rem;
}

.heading h2 {
    font-weight: 600;
    font-size: 2.25rem;
}

.container {
    /* change the height later */

}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
